{
  "defaultAction": "SCMP_ACT_ERRNO",
  "defaultErrnoRet": 1,
  "archMap": [
    {
      "architecture": "SCMP_ARCH_X86_64",
      "subArchitectures": [
        "SCMP_ARCH_X86",
        "SCMP_ARCH_X32"
      ]
    },
    {
      "architecture": "SCMP_ARCH_AARCH64",
      "subArchitectures": []
    }
  ],
  "syscalls": [
    {
      "names": [
        "read",
        "write",
        "readv",
        "writev",
        "pread64",
        "pwrite64",
        "open",
        "openat",
        "close",
        "stat",
        "fstat",
        "lstat",
        "newfstatat",
        "statx",
        "lseek",
        "mmap",
        "mprotect",
        "munmap",
        "mremap",
        "brk",
        "access",
        "faccessat",
        "faccessat2",
        "pipe",
        "pipe2",
        "dup",
        "dup2",
        "dup3",
        "fcntl",
        "ioctl",
        "fadvise64",
        "madvise",
        "select",
        "pselect6",
        "poll",
        "ppoll",
        "epoll_create",
        "epoll_create1",
        "epoll_ctl",
        "epoll_wait",
        "epoll_pwait",
        "eventfd",
        "eventfd2",
        "timerfd_create",
        "timerfd_settime",
        "timerfd_gettime",
        "getcwd",
        "chdir",
        "rename",
        "renameat",
        "renameat2",
        "mkdir",
        "mkdirat",
        "rmdir",
        "unlink",
        "unlinkat",
        "readlink",
        "readlinkat",
        "chmod",
        "fchmod",
        "fchmodat",
        "getdents",
        "getdents64",
        "set_tid_address",
        "set_robust_list",
        "get_robust_list",
        "futex",
        "nanosleep",
        "clock_nanosleep",
        "clock_gettime",
        "clock_getres",
        "clock_settime",
        "gettimeofday",
        "getpid",
        "gettid",
        "getuid",
        "geteuid",
        "getgid",
        "getegid",
        "getppid",
        "getpgrp",
        "getgroups",
        "setgroups",
        "setuid",
        "setgid",
        "setreuid",
        "setregid",
        "setresuid",
        "setresgid",
        "getresuid",
        "getresgid",
        "getrlimit",
        "prlimit64",
        "setrlimit",
        "uname",
        "sysinfo",
        "getrandom",
        "execve",
        "execveat",
        "wait4",
        "waitid",
        "exit",
        "exit_group",
        "rt_sigaction",
        "rt_sigprocmask",
        "rt_sigreturn",
        "rt_sigpending",
        "rt_sigtimedwait",
        "sigaltstack",
        "kill",
        "tgkill",
        "tkill",
        "clone",
        "clone3",
        "fork",
        "vfork",
        "arch_prctl",
        "prctl",
        "seccomp",
        "capget",
        "capset",
        "sched_yield",
        "sched_getaffinity",
        "sched_setaffinity",
        "sched_getscheduler",
        "sched_setscheduler",
        "sched_getparam",
        "sched_setparam",
        "sched_get_priority_max",
        "sched_get_priority_min",
        "rseq",
        "membarrier",
        "ftruncate",
        "truncate",
        "fallocate",
        "sync",
        "fsync",
        "fdatasync",
        "flock",
        "memfd_create",
        "copy_file_range",
        "sendfile",
        "splice",
        "tee",
        "utimensat",
        "statfs",
        "fstatfs"
      ],
      "action": "SCMP_ACT_ALLOW"
    },
    {
      "names": [
        "ptrace"
      ],
      "action": "SCMP_ACT_ERRNO",
      "errnoRet": 1,
      "comment": "Block process tracing"
    },
    {
      "names": [
        "mount",
        "umount2",
        "pivot_root"
      ],
      "action": "SCMP_ACT_ERRNO",
      "errnoRet": 1,
      "comment": "Block filesystem mount operations"
    },
    {
      "names": [
        "reboot",
        "kexec_load",
        "kexec_file_load"
      ],
      "action": "SCMP_ACT_ERRNO",
      "errnoRet": 1,
      "comment": "Block system reboot"
    },
    {
      "names": [
        "socket",
        "socketpair",
        "connect",
        "accept",
        "accept4",
        "bind",
        "listen",
        "sendto",
        "sendmsg",
        "recvfrom",
        "recvmsg",
        "setsockopt",
        "getsockopt",
        "getpeername",
        "getsockname",
        "shutdown"
      ],
      "action": "SCMP_ACT_ERRNO",
      "errnoRet": 1,
      "comment": "Block all networking / raw sockets"
    },
    {
      "names": [
        "personality"
      ],
      "action": "SCMP_ACT_ERRNO",
      "errnoRet": 1,
      "comment": "Block personality changes (execution domain)"
    },
    {
      "names": [
        "keyctl",
        "add_key",
        "request_key"
      ],
      "action": "SCMP_ACT_ERRNO",
      "errnoRet": 1,
      "comment": "Block kernel keyring operations"
    },
    {
      "names": [
        "init_module",
        "finit_module",
        "delete_module",
        "create_module"
      ],
      "action": "SCMP_ACT_ERRNO",
      "errnoRet": 1,
      "comment": "Block kernel module operations"
    },
    {
      "names": [
        "acct",
        "quotactl",
        "swapon",
        "swapoff",
        "sethostname",
        "setdomainname",
        "iopl",
        "ioperm",
        "lookup_dcookie",
        "perf_event_open",
        "bpf",
        "userfaultfd",
        "move_pages",
        "process_vm_readv",
        "process_vm_writev",
        "kcmp",
        "unshare",
        "setns",
        "nfsservctl"
      ],
      "action": "SCMP_ACT_ERRNO",
      "errnoRet": 1,
      "comment": "Block miscellaneous privileged operations"
    }
  ]
}
